<a href="https://colab.research.google.com/github/Oluwafab66/Salami-Tunde-Hamoye-internship-stage-A/blob/master/Salami_Tunde_Hamoye_internship_stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
read_file=pd.read_csv ('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv',delimiter=',')

In [4]:
 
#Create a new list from two elements A and B
 
A=[1,2,3,4,5,6]
B=[13,21,34]
A.extend (B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [5]:
 
#To calculate the fuel type code that has the lowest average fuel cost per unit burned
 
 
p=pd.DataFrame (read_file.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_delivered'].mean ().sort_values ())
 
p

                     fuel_cost_per_unit_delivered
fuel_type_code_pudl
gas                                     12.095172
other                                   16.871485
waste                                   18.413052
coal                                   116.951141
oil                                    313.907691
nuclear                              28616.915039

In [6]:
 
#Calculate the standard deviation of energy per unit into two decimal places
 
df=read_file ['fuel_mmbtu_per_unit'].std ()
 
#print the value of standard deviation in two decimal places
 
print (round (df,2))

10.6

In [7]:
 
# calculate the 75th percentile of the measure of energy per unit
df_file=read_file ['fuel_mmbtu_per_unit']
 
#Method to calculate the 75th percentile
Y = np.percentile (df_file,75)
 
#print the percentile value to two decimal places
print (round (Y,2))

17.01

In [8]:
 
#calculating the skewness of fuel quantity burned
 
Fuel_burn=read_file['fuel_qty_burned'].skew()
 
#print the value of skewnes of fuel quantity burned
print (round (Fuel_burn,2))

15.85

In [9]:
 
#calculating the kurtosis of fuel quantity burned
 
Fuel_burn1=read_file['fuel_qty_burned'].kurt()
 
#print the value of kurtosis of fuel quantity burned
print (round (Fuel_burn1,2))

651.37

In [10]:
 
#Feature with highest missing values
 
Miss_values=pd.DataFrame (read_file.isnull().sum ())
 
Miss_values

                                0
record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                     180
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0

In [11]:
 
#Entering the values for variables
#x = value of fuel_unit which has highest misssing values
#y=Total number of rows
 
x=180
y=29523
 
#calculate percentage of the missing rows
 
perc=(x * 100)/y
 
print ('The percentage of the missing rows as a factor of the total number of rows is :',round (perc,3))

The percentage of the missing rows as a factor of the total number of rows is : 0.61

In [12]:
 
# To determine the year with the highest average of fuel cost per unit delivered
 
High_avg=pd.DataFrame(read_file.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values())
 
#Prints the averages
 
High_avg

             fuel_cost_per_unit_delivered
report_year
1999                            25.551627
1995                            32.735269
2006                            38.657484
2005                            41.438184
2007                            43.325023
2017                            46.196861
2002                            47.594361
2003                            55.663493
2008                            58.588197
2011                            59.774667
2001                            60.050396
2012                            60.994502
1994                            63.636060
2010                            91.862105
2016                           103.901761
2004                           139.524275
2013                           172.307591
2014                           192.737183
1998                           287.154420
2015                           326.535511
2018                           499.269966
2009                           652.694163
2000                           985.362877
1996                          9196.705948
1997                         11140.197239

In [13]:
 
#A sub dataset of only coal fuel type
 
coal_value=read_file.loc [read_file ['fuel_type_code_pudl']=='coal']
 
#Grouping the coal_data above their reported years
 
grp_coal=coal_value.groupby ('report_year').sum ()
 
#selecting the appropriate years needed for our analysis and saving them in two seperaye variables
 
year_1,year_2 = grp_coal.loc [[1994,1998],'fuel_cost_per_unit_burned']
 
#perform the percentage change in the coal fuel type
 
coal_percent_change= ((year_2-year_1)/year_1)*100
 
x= coal_percent_change
 
print ("The percentage change of coal in 1998 compared to 1994 is:",round (x) ,'%')

The percentage change of coal in 1998 compared to 1994 is: -21 %

In [14]:
 read_file.corr(method ='kendall')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...            -0.011386
report_year                           0.046176  ...             0.266284
fuel_qty_burned                      -0.034217  ...            -0.363151
fuel_mmbtu_per_unit                  -0.064722  ...            -0.152250
fuel_cost_per_unit_burned            -0.049750  ...             0.321004
fuel_cost_per_unit_delivered         -0.045562  ...             0.225250
fuel_cost_per_mmbtu                  -0.011386  ...             1.000000

[7 rows x 7 columns]

In [15]:
read_file.corr(method ='pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]